<link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Отзывы.css" media="screen">
<section class="u-clearfix u-section-1" id="sec-419e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-1">Отзывы</h1>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="814" data-image-height="606" src="images/1.jpg">
                        <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-2"> ТРЦ "Спектр"</h3>
                        <p class="u-custom-font u-font-montserrat u-text u-text-3">За время нашей совместной работы сотрудники компании показали себя высокими профессионалами, которые следят за качеством выполняемой работы и учитывают пожелания Заказчика. Компания ООО «Форгенто» выполнила работу согласно сроку, указанному в контракте.</p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1024" data-image-height="572" src="images/2.jpg">
                        <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-4">Кафе "Сафари"</h3>
                        <p class="u-custom-font u-font-montserrat u-text u-text-5"> Наша фирма сотрудничает с компанией ООО «Форгенто» с 2010 года. В последний раз сотрудники компании выполняли на наших объектах фасадные и ремонтные работы. Хотим отметить, что работы компанией «Форгенто» были выполнены с надлежащим качеством. Подрядчик ни разу не отступился от сроков Договора, строго согласовывая качество работы с Заказчиком.&nbsp;</p>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="605" data-image-height="368" src="images/3.jpg">
                        <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-6">&nbsp;Минск Кристалл</h3>
                        <p class="u-custom-font u-font-montserrat u-text u-text-7">В прошлом году перед нашей компанией встал вопрос о благоустройстве территории наших объектов. Мы долго искали надежного Подрядчика и, в результате конкурса, остановили свой выбор на компании «Форгенто». За время нашей совместной работы сотрудники компании «Форгенто» выполняли ремонтные работы в строгом соответствии с условиями и требованиями, указанными в Договоре.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-custom-color-1 u-section-2" id="sec-e4a3">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Оставить заявку</h2>
        <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-2">
            Пожалуйста, укажите Ваш номер телефона, и мы обязательно<br>свяжемся с Вами в течении рабочего дня
        </h3>
        <div class="u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                <div class="u-form-group u-form-name u-label-none">
                    <label for="name-3b9a" class="u-label">Name</label>
                    <input type="text" placeholder="Ваше имя" id="name-3b9a" name="name" class="u-custom-font u-font-montserrat u-input u-input-rectangle u-none" required="">
                </div>
                <div class="u-form-email u-form-group u-label-none">
                    <label for="email-3b9a" class="u-label">Email</label>
                    <input type="email" placeholder="Ваша почта" id="email-3b9a" name="email" class="u-custom-font u-font-montserrat u-input u-input-rectangle u-none" required="">
                </div>
                <div class="u-form-group u-form-phone u-label-none u-form-group-3">
                    <label for="phone-4cad" class="u-label">Телефон</label>
                    <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Ваш телефон" id="phone-4cad" name="phone" class="u-custom-font u-font-montserrat u-input u-input-rectangle u-none" required="">
                </div>
                <div class="u-form-group u-form-message u-label-none">
                    <label for="message-3b9a" class="u-label">Message</label>
                    <textarea placeholder="Ваше сообщение" rows="4" cols="50" id="message-3b9a" name="message" class="u-custom-font u-font-montserrat u-input u-input-rectangle u-none" required=""></textarea>
                </div>
                <div class="u-form-group u-form-checkbox u-block-control u-label-none ui-draggable ui-draggable-handle u-block-ae2e-33" data-block="229" style="margin-left: 0px;" data-block-type="FormField">
                    <input type="checkbox" id="checkbox-c76b" name="checkbox" value="On" class="u-field-input" required="required">
                    <label for="checkbox-c76b" class="u-field-label" data-block-type="">Согласие на обработку персональных данных</label>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                    <a href="#" class="u-active-white u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-pt-sans u-hover-white u-palette-1-base u-radius-5 u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Отправить</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение успешно отправлено. </div>
                <div class="u-form-send-error u-form-send-message"> Не удается отправить ваше сообщение. Пожалуйста, исправьте ошибки, а затем повторите попытку. </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="">
            </form>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-3" id="sec-d534">
    <div class="u-absolute-hcenter u-expanded u-grey-light-2 u-map">
        <div class="embed-responsive">
            <iframe class="embed-responsive-item" src="https://maps.google.com/maps?output=embed&amp;q=%D0%B3.%20%D0%91%D0%BE%D0%B1%D1%80%D1%83%D0%B9%D1%81%D0%BA%20%D1%83%D0%BB.%20%D0%A0%D0%BE%D0%BA%D0%BE%D1%81%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE%2C%2017%2F23&amp;z=16&amp;t=m" data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMiVEMCVCMy4lMjAlRDAlOTElRDAlQkUlRDAlQjElRDElODAlRDElODMlRDAlQjklRDElODElRDAlQkElMjAlRDElODMlRDAlQkIuJTIwJUQwJUEwJUQwJUJFJUQwJUJBJUQwJUJFJUQxJTgxJUQxJTgxJUQwJUJFJUQwJUIyJUQxJTgxJUQwJUJBJUQwJUJFJUQwJUIzJUQwJUJFJTJDJTIwMTclMkYyMyUyMiUyQyUyMnpvb20lMjIlM0ExNiUyQyUyMnR5cGVJZCUyMiUzQSUyMnJvYWQlMjIlMkMlMjJsYW5nJTIyJTNBbnVsbCUyQyUyMmFwaUtleSUyMiUzQW51bGwlMkMlMjJtYXJrZXJzJTIyJTNBJTVCJTVEJTdE"></iframe>
        </div>
    </div>
</section>
