 .u-section-1 {
  min-height: 972px;
}

.u-section-1 .u-shape-1 {
  height: 631px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 1003px;
  height: 865px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -514px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-group-1 {
  width: 625px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -280px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 34px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 16px 52px 17px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 788px;
    height: 591px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -208px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    height: 423px;
  }

  .u-section-1 .u-image-1 {
    width: 643px;
    height: 443px;
    margin-top: -306px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -60px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    height: 711px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 372px;
    margin-top: -593px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 61px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 974px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 234px;
    object-position: 69.28% 100%;
    margin-top: -640px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 541px;
    margin-top: 68px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 735px;
}

.u-section-2 .u-image-1 {
  width: 492px;
  height: 492px;
  background-image: url("/images/clients1.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 537px;
  min-height: 544px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -439px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 135px;
  }

  .u-section-2 .u-group-1 {
    width: 448px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1524px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 593px;
  }

  .u-section-2 .u-group-1 {
    width: 704px;
    min-height: 448px;
    margin-top: -960px;
    margin-left: -12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1595px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-group-1 {
    width: 471px;
    min-height: 520px;
    margin-top: -439px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1491px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 551px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -817px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }
} .u-section-3 {
  background-image: url("/images/person-holding-black-pen-1109541.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 840px;
}

.u-section-3 .u-list-1 {
  width: 695px;
  margin: 67px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 14px));
  min-height: 659px;
  grid-gap: 28px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 52px;
  width: 52px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  margin: 49px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 52px;
  width: 52px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-style: italic;
  margin: 49px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 0 0 15px 0 rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 52px;
  width: 52px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-style: italic;
  margin: 49px auto 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 0 0 15px 0 rgba(0,0,0,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 52px;
  width: 52px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-style: italic;
  margin: 49px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-list-1 {
    width: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1119px;
}

.u-section-4 .u-image-1 {
  width: 544px;
  height: 544px;
  background-image: url("/images/756650421849219.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 492px;
  min-height: 377px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -580px 0 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 2.2;
  margin: 0;
}

.u-section-4 .u-group-2 {
  width: 738px;
  min-height: 451px;
  height: auto;
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 132px auto 24px;
}

.u-section-4 .u-container-layout-2 {
  padding: 25px 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.7999999999999998;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  margin: 30px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-group-2 {
    animation-duration: 1000ms;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1346px;
  }

  .u-section-4 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1576px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -576px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1565px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-top: -376px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1133px;
}

.u-section-5 .u-image-1 {
  height: 873px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-5 .u-group-1 {
  width: 446px;
  min-height: 848px;
  background-image: none;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -657px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-align: center;
  font-size: 2.25rem;
  margin: 27px 0 0;
}

.u-section-5 .u-text-2 {
  text-align: justify;
  margin: 30px 0 0;
}

.u-section-5 .u-image-2 {
  width: 355px;
  height: 355px;
  background-image: url("/images/4.jpg");
  background-position: 50% 50%;
  text-align: start;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 38px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  margin: 20px auto 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: 696px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -480px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1111px;
  }

  .u-section-5 .u-image-1 {
    height: 567px;
  }

  .u-section-5 .u-group-1 {
    width: 360px;
    min-height: 825px;
    margin-top: -350px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-image-2 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1166px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -261px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 55px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    object-position: 12.55% 50%;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
    margin-left: 34px;
    margin-right: 34px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 314px;
}

.u-section-6 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 760px;
  --animation-custom_in-translate_x: -50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 58px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 61px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1333px;
}

.u-section-7 .u-image-1 {
  width: 473px;
  height: 473px;
  background-image: url("/images/8.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 484px 0 0 auto;
}

.u-section-7 .u-group-1 {
  width: 610px;
  min-height: 511px;
  height: auto;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -363px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 52px 16px 51px;
}

.u-section-7 .u-image-2 {
  width: 339px;
  height: 339px;
  background-image: url("/images/21.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -850px auto 0 352px;
}

.u-section-7 .u-group-2 {
  width: 454px;
  min-height: 308px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -524px auto 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-7 .u-image-3 {
  width: 242px;
  height: 242px;
  background-image: url("/images/6.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 643px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-7 .u-image-1 {
    width: 424px;
    height: 424px;
    margin-top: 60px;
  }

  .u-section-7 .u-group-1 {
    width: 447px;
    height: auto;
  }

  .u-section-7 .u-btn-1 {
    border-style: none;
  }

  .u-section-7 .u-image-2 {
    width: 302px;
    height: 302px;
    margin-top: -809px;
    margin-left: 301px;
  }

  .u-section-7 .u-group-2 {
    width: 409px;
    min-height: 323px;
    margin-top: -504px;
    height: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: 614px;
    margin-bottom: -372px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1512px;
  }

  .u-section-7 .u-image-1 {
    width: 469px;
    height: 469px;
  }

  .u-section-7 .u-group-1 {
    width: 391px;
    min-height: 491px;
    margin-top: -42px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-2 {
    width: 290px;
    height: 290px;
    margin-top: -1174px;
    margin-left: 0;
  }

  .u-section-7 .u-group-2 {
    margin-top: -489px;
    margin-right: 70px;
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: 645px;
    margin-right: 31px;
    margin-bottom: -243px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1820px;
  }

  .u-section-7 .u-image-1 {
    width: 427px;
    height: 427px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -1222px;
  }

  .u-section-7 .u-group-2 {
    width: 326px;
    min-height: 361px;
    margin-top: -537px;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 1080px;
    margin-right: 28px;
    margin-bottom: -448px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2019px;
  }

  .u-section-7 .u-image-1 {
    width: 325px;
    height: 325px;
  }

  .u-section-7 .u-group-1 {
    min-height: 494px;
    margin-top: -12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    width: 277px;
    height: 277px;
    margin-top: -1182px;
    margin-left: auto;
  }

  .u-section-7 .u-group-2 {
    min-height: 362px;
    margin-top: -689px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: 1282px;
    margin-right: auto;
    margin-bottom: -672px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 1113px;
}

.u-section-8 .u-shape-1 {
  height: 675px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  width: 958px;
  height: 652px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -578px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-8 .u-group-1 {
  width: 629px;
  min-height: 499px;
  background-image: none;
  box-shadow: 5px 5px 24px 0 rgba(0,0,0,0.25);
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -215px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 16px 52px 16px 51px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 1130px;
  }

  .u-section-8 .u-image-1 {
    width: 822px;
    height: 640px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-group-1 {
    margin-top: -203px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-shape-1 {
    height: 791px;
  }

  .u-section-8 .u-image-1 {
    width: 632px;
    height: 561px;
    margin-top: -694px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-group-1 {
    margin-top: -124px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1127px;
  }

  .u-section-8 .u-shape-1 {
    height: 633px;
  }

  .u-section-8 .u-image-1 {
    width: 476px;
    height: 377px;
    margin-top: -536px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-group-1 {
    width: 448px;
    min-height: 596px;
    margin-top: -40px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1103px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 269px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    min-height: 588px;
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    margin-top: 92px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 0;
    padding: 15px 33px 17px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 576px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-9 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-9 .u-form-1 {
  height: 389px;
  width: 570px;
  margin: 20px auto 60px;
}

.u-section-9 .u-form-group-3 {
  margin-left: 0;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-9 .u-btn-1 {
    padding: 16px 52px 16px 51px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-form-1 {
    width: 340px;
  }
} .u-section-10 {
  min-height: 400px;
}