<footer class="u-clearfix u-container-align-center-xs u-footer u-grey-80" id="sec-6a45">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-align-center-sm u-align-center-xs u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-20 u-size-30-md u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <!--position-->
                            <div data-position="" class="u-position">
                                <!--block-->
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <!--block_header-->
                                        <h5 class="u-block-header u-text"><!--block_header_content-->Forgento<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                                        <div class="u-block-content u-text"><!--block_content_content-->Проектирование, монтаж, техническое обслуживание систем пожарной сигнализации. Инженерные услуги в строительстве<!--/block_content_content--></div><!--/block_content-->
                                    </div>
                                </div><!--/block-->
                            </div><!--/position-->
                        </div>
                    </div>
                    <div class="u-align-center-sm u-align-right-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-20 u-size-30-md u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-2">
                            <a href="https://nicepage.com" class="u-align-center-md u-align-center-sm u-align-center-xs u-image u-logo u-image-1" data-image-width="497" data-image-height="429">
                                <img src="/images/1.svg" class="u-logo-image u-logo-image-1">
                            </a>
                        </div>
                    </div>
                    <div class="u-align-center-sm u-align-center-xs u-align-left-md u-align-right-lg u-align-right-xl u-container-align-center-sm u-container-align-center-xs u-container-align-left-md u-container-style u-layout-cell u-right-cell u-size-20 u-size-30-md u-layout-cell-3">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                            <p class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-default u-text-3">
                                <span class="u-icon u-icon-1">
                                    <svg class="u-svg-content" viewBox="0 0 52 52" x="0px" y="0px" style="width: 1em; height: 1em;">
                                        <path style="fill:currentColor;" d="M38.853,5.324L38.853,5.324c-7.098-7.098-18.607-7.098-25.706,0h0
	C6.751,11.72,6.031,23.763,11.459,31L26,52l14.541-21C45.969,23.763,45.249,11.72,38.853,5.324z M26.177,24c-3.314,0-6-2.686-6-6
	s2.686-6,6-6s6,2.686,6,6S29.491,24,26.177,24z"></path>
                                    </svg>
                                </span>&nbsp;г. Бобруйск ул.&nbsp;<br>Рокоссовского, 17/23
                            </p>
                            <p class="u-align-center-sm u-align-center-xs u-align-left-md u-text u-text-default u-text-4">
                                <span class="u-file-icon u-icon u-icon-2"><img src="images/email.png" alt=""></span>&nbsp;​info@forgento.by
                            </p>
                            <p class="u-align-center-sm u-align-center-xs u-align-left-md u-text u-text-default u-text-5">
                                <span class="u-file-icon u-icon u-icon-3"><img src="images/telephone.png" alt=""></span> +375 44 577-67-89
                            </p>
                            <p class="u-align-center-sm u-align-center-xs u-align-left-md u-text u-text-default u-text-6">
                                <span class="u-file-icon u-icon u-icon-4"><img src="images/headphones.png" alt=""></span>&nbsp;​(0225) 70-77-75
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>