<link rel="stylesheet" href="~/css/nicepage.css" media="screen">
<link rel="stylesheet" href="~/css/Контакты.css" media="screen">
<section class="u-clearfix u-grey-5 u-section-1" id="sec-dde6">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-1"> Контакты</h1>
        <p class="u-text u-text-2">
            Телефон: +375 44 577-67-89<br>Телефон/факс: (0225) 70-77-75<br>Адрес: Бобруйск ул. Рокоссовского, 17/23<br>Почта: info@forgento.by
        </p>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-f4e4">
    <div class="u-absolute-hcenter u-expanded u-grey-light-2 u-map">
        <div class="embed-responsive">
            <iframe class="embed-responsive-item" src="https://maps.google.com/maps?output=embed&amp;q=%D0%B3.%20%D0%91%D0%BE%D0%B1%D1%80%D1%83%D0%B9%D1%81%D0%BA%20%D1%83%D0%BB.%20%D0%A0%D0%BE%D0%BA%D0%BE%D1%81%D1%81%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE%2C%2017%2F23&amp;z=16&amp;t=m" data-map="JTdCJTIyYWRkcmVzcyUyMiUzQSUyMiVEMCVCMy4lMjAlRDAlOTElRDAlQkUlRDAlQjElRDElODAlRDElODMlRDAlQjklRDElODElRDAlQkElMjAlRDElODMlRDAlQkIuJTIwJUQwJUEwJUQwJUJFJUQwJUJBJUQwJUJFJUQxJTgxJUQxJTgxJUQwJUJFJUQwJUIyJUQxJTgxJUQwJUJBJUQwJUJFJUQwJUIzJUQwJUJFJTJDJTIwMTclMkYyMyUyMiUyQyUyMnpvb20lMjIlM0ExNiUyQyUyMnR5cGVJZCUyMiUzQSUyMnJvYWQlMjIlMkMlMjJsYW5nJTIyJTNBbnVsbCUyQyUyMmFwaUtleSUyMiUzQW51bGwlMkMlMjJtYXJrZXJzJTIyJTNBJTVCJTVEJTdE"></iframe>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-custom-color-1 u-section-3" id="sec-2133">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Оставить заявку</h2>
        <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-2">
            Пожалуйста, укажите Ваш номер телефона, и мы обязательно<br>свяжемся с Вами в течении рабочего дня
        </h3>
        <div class="u-form u-form-1">
            <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
                <div class="u-form-group u-form-name u-label-none">
                    <label for="name-3b9a" class="u-label">Name</label>
                    <input type="text" placeholder="Ваше имя" id="name-3b9a" name="name" class="u-custom-font u-font-montserrat u-input u-input-rectangle u-none" required="">
                </div>
                <div class="u-form-email u-form-group u-label-none">
                    <label for="email-3b9a" class="u-label">Email</label>
                    <input type="email" placeholder="Ваша почта" id="email-3b9a" name="email" class="u-custom-font u-font-montserrat u-input u-input-rectangle u-none" required="">
                </div>
                <div class="u-form-group u-form-phone u-label-none u-form-group-3">
                    <label for="phone-4cad" class="u-label">Телефон</label>
                    <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Ваш телефон" id="phone-4cad" name="phone" class="u-custom-font u-font-montserrat u-input u-input-rectangle u-none" required="">
                </div>
                <div class="u-form-group u-form-message u-label-none">
                    <label for="message-3b9a" class="u-label">Message</label>
                    <textarea placeholder="Ваше сообщение" rows="4" cols="50" id="message-3b9a" name="message" class="u-custom-font u-font-montserrat u-input u-input-rectangle u-none" required=""></textarea>
                </div>
                <div class="u-form-group u-form-checkbox u-block-control u-label-none ui-draggable ui-draggable-handle u-block-ae2e-33" data-block="229" style="margin-left: 0px;" data-block-type="FormField">
                    <input type="checkbox" id="checkbox-c76b" name="checkbox" value="On" class="u-field-input" required="required">
                    <label for="checkbox-c76b" class="u-field-label" data-block-type="">Согласие на обработку персональных данных</label>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                    <a href="#" class="u-active-white u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-pt-sans u-hover-white u-palette-1-base u-radius-5 u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Отправить</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение успешно отправлено. </div>
                <div class="u-form-send-error u-form-send-message"> Не удается отправить ваше сообщение. Пожалуйста, исправьте ошибки, а затем повторите попытку. </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="0f186a3c47aa73f1db1b8d889fea4f06">
            </form>
        </div>
    </div>
</section>